:root {
    /* Colors */
    --background: #F9F2F2;
    --black: #000;
    --white: #fff;
    --purple: #9b51e0;  
    --brown: #685636;
    --gray: #686868;
}

/* ---------- Normalizing ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin-top: 0;
    overflow-x: hidden!important;
}

body {
    overflow-x: hidden!important;
    position: relative;
}

h1 {
    font-size: 2.98598rem;
    letter-spacing: 1.5px;
    line-height: 1;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    /* line-height: 20px;
    letter-spacing: 2px; */
}

p {
    font-size: 18px;
    /* Convert to rem */
}

.site-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.1rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.site-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.title-size {
    font-size: 2.9rem!important;
}

@media screen and (min-width: 375px) {
    .title-size {
        font-size: 2rem!important;
    }
}

@media (min-width: 992px) {
    .transform-x50-lg {
        transform: translate(-50%, 0);
    }

    .transform-x65-lg {
        transform: translate(65%, 0);
    }
}

.transform-x65-lg {
    transform: translate(0, 0);
}

.w-70 {
    width: 70%;
}

.w-200px {
    width: 200px;
}

.darkbrown_bg {
    background-color: #261A17;
}

article {
    padding-left: 30px;
    padding-right: 30px;
}
/* Fonts */
.urban-font {
    /* h1 */
    font-family: 'Urbanist', sans-serif;
}

.bruno-font {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.bell-font {
    /* h2 */
    font-family: 'Belleza', sans-serif;
    margin-bottom: 2px;
}

.mont-font {
    /* body */
    font-family: 'Montserrat', sans-serif;
}

/* colors */
.color-white {
    color: #fff;
}

/* z-index */
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}
/* Hero */
.hero-bg {
    background-image:  linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)), url(../images/hair-salon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
}

.hero-image {
    display: flex;
    align-self: flex-end;
}



.hero_model {
    object-fit: contain;
}

/* @media screen and (max-width: 768px) {
    .hero_model {
        height: 100%!important;
    }
} */



.discover-bg {
    background-image:  linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/arcade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
}

.discover_content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

.btn-secondary {
    background-color: #9b51e0!important;
}

.btn-secondary:hover {
    background-color: #432063!important;
}

.btn-secondary:visited {
    background-color: #432063!important;
}

ul > li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    /* padding-bottom: 1rem; */
    display: flex;
    align-self: center;
}

ul {
    padding-left: 0!important;
    
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
      .tulpen-one-regular {
          font-family: "Tulpen One", sans-serif;
          font-weight: 400;
          font-style: normal;
  
      }
      .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
      .hero_img {
          /* height: 507px;  */
          /* height: 100vh; */
          height: 100vh;
          position: relative; 
          z-index: 3; 
          opacity: 0.94;
      }
  
      .nav-link {
          color: white;
      }
  
      .hero-section {
          position: relative;
          /* background:  linear-gradient(135deg, #2e003e 0%, #c77b9b 50%, #2e003e 100%); */
          background-color: #261A17;
          color: #fff;
          }
  
          a .btn {
            font-family: "Montserrat", sans-serif;
          }
  .btn-primary {
    border: none;
    padding: 12px 30px;
    font-size: 0.8rem;
    border-radius: 0;
    transition: transform 0.3s ease; /* Simple hover animation */
    color:white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: transparent;
    text-shadow: 2px 0px 3px #FE259B;
    border: 1px solid white;
    /* box-shadow: 0 0 50px #FE259B; */
    box-shadow: inset 0 0 9px #FE259B, 0 0 50px #FE259B;
  }
  
  .btn-primary:hover, .btn-primary:active {
    transform: scale(1.1); /* Adds a fun hover effect */
    opacity: 0.7;
    background-color: rgb(254 37 155 / 100%);
    border: 1px solid white;
    font-weight: 500;
  }

  .btn-primary:active:focus {
    box-shadow:0 0 0 .25rem rgb(93 31 77 / 50%);
  }

  .btn-primary2 {
    background-color: transparent;
    border: 1px solid #71073c;
    padding: 12px 30px;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Simple hover animation */
    color:white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-primary2:hover, .btn-primary2:active {
    transform: scale(1.1); /* Adds a fun hover effect */
    opacity: 0.7;
    background-color: rgb(113 7 60 / 90%);
    border: 1px solid #71073c;
    font-weight: 500;
    color: white;
  }

  .btn-primary2:active:focus {
    box-shadow:0 0 0 .25rem rgb(93 31 77 / 50%);
  }

  .hero_card1-title {
      content:"";
      display: block;
      width: 90px;
      top: 29%;
      position: relative;
      left: 55%;
      color: white;
      z-index: 100;
      font-weight: 500;
  }
  
  .hero_card1-subtitle {
      content:"";
      display: block;
      width: 90px;
      top: 27%;
      position: relative;
      left: 66%;
      color: white;
      font-size: 12px;
  }
  
  .hero_card2-title {
      content:"";
      display: block;
      width: 90px;
      top: 29%;
      position: relative;
      left: 60%;
      color: white;
      z-index: 100;
      font-weight: 500;
  }
  
  .hero_card2-subtitle {
      content:"";
      display: block;
      width: 90px;
      top: 27%;
      position: relative;
      left: 65%;
      color: white;
      font-size: 12px;
  }
  
  .hero_card1-btn {
      border: none;
      border-radius: 10px;
      background-color:#432063;
      top: 35%;
      position: relative;
      left: 72%;
      padding: 5px;
      padding-bottom: 8px;
  }

  .hero_card1-btn:hover {
    opacity: 0.8;
}
  
  .card-bg-img1 {
      /* background-image: url("../images/hero_card1.png"); */
      background-image: url("../images/card-hero1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 300px;
      height: 188px;
  }
  
  .card-bg-img2 {
      /* background-image: url("../images/hero_card2.png"); */
      background-image: url("../images/card-hero2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 300px;
      height: 188px;
  }
  
  .cta-menu {
      width: 224px;
  }

  .hero_content {
    text-align: center;
    }
  
    .pixel-icon {
        width: 24px;
        height: 24px;
    }



  @media screen and (max-width: 992px) {
      .cta-menu {
          margin: 0 auto;
          display: flex;
      }
      
    .hero_content {
        text-align: center;
    }

    .btn-primary {
        /* margin: 0 auto; */
        display: flex;
    }
}

/* .welcome2 {
    max-width: 282px;
}

@media screen and (max-width: 745px) {
    .welcome2 {
        max-width: 147px;
    }
} */


.img-credit {
    font-size: 0.8rem;
}

#noGamesMsg {
    display: none;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    background: white;
    color: purple;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.noGamesBg {
    padding: 10px;
}

.hidden {
    display: none;
}

@media (min-width: 992px) {
    .thanks-msg-lg {
        position: relative; 
        top: -200px;
        left: -100px;
    }
}

.neon-circle_bg {
    /* background-image: url("../images/neon-circle 2.png"); */
    background-position: -40% -300px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-text {
    font-size: 18px!important;
    text-align: center;
}

.card1 {
    box-shadow: inset 0 0 9px #00AAF6, 0 0 10px #00AAF6;
}

.card2 {
    box-shadow: inset 0 0 9px #FE259B, 0 0 10px #FE259B;
}

.card3 {
    box-shadow: inset 0 0 9px #B026FF, 0 0 10px #B026FF;
}

.card:hover {
    box-shadow: 3px 5px 5px rgb(158, 158, 158);
}

.banner-bg {
    background-image: linear-gradient(rgba(117, 48, 124, 0.45),rgba(140, 33, 136, 0.9)), url(../images/salon2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}

.banner-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    letter-spacing: 0.05rem;
    width: 100%;
    padding: 0 10px;
    max-width: 600px;
}

@media screen and (min-width: 992px) {
    .banner-bg {
        height: 250px;
    }
}


.noLink {
    text-decoration: none;
    color: inherit;
}

.form-control, .form-select {
    margin-bottom: 30px;
}

label {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 992px) {
    .card-h-img {
        height: 240px!important;
    }
}

@media screen and (max-width: 992px) {
    .card-v-height {
        height: 224px!important;
    }
    .card-h-text {
        font-size: 16px!important;
    }
}

@media screen and (max-width: 768px) {
    .card-h-img {
        height: 160px!important;
    }
}

@media screen and (min-width: 375px) {
    .card-h-img {
        height: auto!important;
    }
}

.circle-bg {
    background-image: url(../images/circle-bg.png), url(../images/circle-bg.png);
    /* opacity: 0.5; */
    background-repeat: no-repeat, no-repeat;
    background-position: right -800px top 200px, right 800px bottom 200px;
    /* background-position: top right, bottom left; */
    background-size: contain, contain;
    /* height: 200px; */
    position: relative;

}

.footer-bg-img {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../images/combs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    /* bottom: -15%; */
    bottom: 0;
    width: 100%;
    /* height: 600px; */
    height: 100%;
}
/* 
@media screen and (max-width: 991px) {
    .footer-bg-img {
        height: 1000px!important;
    }
} */

/*
@media screen and (min-width: 374px){
    .footer-bg-img {
        height: 1000px!important;
    }

    .author-text {
        bottom: -14%!important;
    }

    .footer-text {
        transform: translate(0, 20%)!important;
    }
}

@media screen and (max-width: 768px) {
    .footer-bg-img {
        height: 920px!important;
    }

    .author-text {
        bottom: -16%!important;
        right: 20px;
    }

    .footer-text {
        transform: translate(0, 20%)!important;
    }
}
} */

p.footer-links span {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
/* 
@media (min-width: 992px) {
    .footer-text {
        transform: translate(0, 30%);
    }
    .footer-bg-img {
        height: 600px!important;
    }
    .banner-text, .banner-call {
        transform: translate(0, 65%)!important;
    }
    .author-text {
        transform: translate(0, 100%)!important;
    }
} */

.author {
    color: inherit;
}

.author:hover {
    opacity: 0.7;
    color: inherit;
}

.author-text {
    position: relative;
    bottom: -29%;
    font-family: 'Belleza', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}