:root {
    /* Colors */
    --background: #F9F2F2;
    --black: #000;
    --white: #fff;
    --purple: #9b51e0;  
    --brown: #685636;
    --gray: #686868;
}

/* ---------- Normalizing ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin-top: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.98598rem;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    /* line-height: 20px;
    letter-spacing: 2px; */
}

p {
    font-size: 20px;
    /* Convert to rem */
}

.site-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.1rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.site-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.title-size {
    font-size: 2.9rem!important;
}

@media (min-width: 992px) {
    .transform-x50-lg {
        transform: translate(-50%, 0);
    }

    .transform-x65-lg {
        transform: translate(65%, 0);
    }
}

.transform-x65-lg {
    transform: translate(0, 0);
}

.w-70 {
    width: 70%;
}

.w-200px {
    width: 200px;
}

article {
    padding-left: 30px;
    padding-right: 30px;
}
/* Fonts */
.urban-font {
    /* h1 */
    font-family: 'Urbanist', sans-serif;
}

.bell-font {
    /* h2 */
    font-family: 'Belleza', sans-serif;
}

.mont-font {
    /* body */
    font-family: 'Montserrat', sans-serif;
}

/* colors */
.color-white {
    color: #fff;
}

/* z-index */
.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}
/* Hero */
.hero-bg {
    background-image:  linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)), url(/images/hair-salon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
}

.discover-bg {
    background-image:  linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(/images/arcade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
}

.btn-secondary {
    background-color: #9b51e0!important;
}

.btn-secondary:hover {
    background-color: #432063!important;
}

.btn-secondary:visited {
    background-color: #432063!important;
}

ul > li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-bottom: 1rem;
}

ul {
    padding-left: 0!important;
    
}

.img-credit {
    font-size: 0.8rem;
}

#noGamesMsg {
    display: none;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    background: white;
    color: purple;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.noGamesBg {
    padding: 10px;
}

.hidden {
    display: none;
}

@media (min-width: 992px) {
    .thanks-msg-lg {
        position: relative; 
        top: -200px;
        left: -100px;
    }
}